header.profile {
  box-sizing: content-box;
  padding-top: 120px;
  height: 400px;
  width:100%;
  /* to make the profile pic and name centered in colomn */
  display:flex;
  flex-direction: column;
  /* why I need this line? the body already defined this. */
  align-items: center;
  /* justify-content: center;  */
  background-color: #e3ad24;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");


}